<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- A release build must not expose the ADB-only automation surface, even though the
             receiver also performs a runtime debuggable check as defense in depth. -->
        <receiver
            android:name="com.SerialSlinger.openardf.AndroidDebugCommandReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.SerialSlinger.openardf.DEBUG_GET_STATE" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_GET_SNAPSHOT" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_GET_TRACE" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_GET_LOG" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_CLEAR_LOG" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_LOAD" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_LOAD_EMULATOR" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_LOAD_CLONE_SETTINGS" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_EVENT_TYPE" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_FOX_ROLE" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_STATION_ID" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_ID_SPEED" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_PATTERN_SPEED" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_CURRENT_FREQUENCY" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_FREQUENCY_BANK" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_PATTERN_TEXT" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_CURRENT_TIME" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_START_TIME" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_FINISH_TIME" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_SET_DAYS_TO_RUN" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_RAW_COMMAND" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_CLONE" />
                <action android:name="com.SerialSlinger.openardf.DEBUG_CLONE_WAIT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
